* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

header {
    position: relative;
    height: 10rem;
    width: 64vw;
    left: 50vw;
    transform: translate(-50%);
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
}

nav ul {
    text-decoration: none;
    list-style-type: none;
}

nav ul  li {
    display: inline;
}

.container-1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
}