* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    position: relative;
    height: 10rem;
    width: 64vw;
    left: 50vw;
    transform: translate(-50%);
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    
}

li {
    text-decoration: none;
}

